<html> 
 <head> 
   <title>Enyozon</title> 
 </head> 
 <body>
	<h1>EnyoZon</h1>
	<h2>Amazon could have been my idea</h2>
	
	<p>
        {% if not firstname %}
            <a href="{{ url_for('login') }}">Log in </a><a href='/register'>Register</a>
        {% else %}
            Welcome, {{ firstname }}! <a href="{{ url_for('logout') }}">Log out</a> <a href="{{ url_for('userDeets') }}"> User Profile</a>
        {% endif %}
		<a href="{{ url_for('basketView') }}">Basket</a>
    </p>
	
   <!-- use double quotes and single quotes together to avoid errors -->
   <form action="{{ url_for('searchBooks') }}" method="GET">
		<input type="text" name="query" placeholder="Search books by title...">
		<button type="submit">Search</button>
	</form>
   
   <ul>
		{% for book in books %}
			<li>
				<h3> <a href="{{ url_for('bookDeets', isbn = book.isbn) }}">{{ book.title }}</h3>
				<p> Author: {{book.author }} </p>
				<p> Price: £{{book.price }} </p>
			</li>
		{% endfor %}
   </ul>
 </body> 
</html> 